<div class="container-fluid mt-4">
    <p style="color: green"><%#= notice %></p>
  <h1 class="mb-4" style="color: #0085A1; font-family: 'Arial', sans-serif; font-weight: bold;">Issues</h1>
  <div class="custom-btn-container">
    <%= link_to '<span class="plus-sign">+</span> NEW ISSUE'.html_safe, new_issue_path, class: 'custom-btn' %>
    <%= link_to settings_path, class: 'custom-btn', style: 'margin-left: 10px;' do %>
      <span class="plus-sign">⚙️</span> SETTINGS
    <% end %>
    <%= link_to new_issue_path, class: 'issues-menu-button' do %>
      <i class="fas fa-plus"></i>
      <i class="fas fa-bars"></i>
    <% end %>
  </div>

  <% if @issues.any? %>
    <div class="table-container">
      <table class="table table-striped w-100">
        <thead class="thead-light text-right">
          <tr>
            <th style="width: 12%;">TYPE</th>
            <th style="width: 12%;">SEVERITY</th>
            <th style="width: 12%;">PRIORITY</th>
            <th class="issue-column">ISSUE</th>
            <th style="width: 12%;">STATUS</th>
            <th style="width: 14%;">MODIFIED</th>
            <th style="width: 16%;">ASSIGN TO</th>
          </tr>
        </thead>
        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td style="width: 12%; text-align: center;"><%= issue.issue_type.name %></td>
              <td style="width: 12%; text-align: center;"><%= issue.issue_severity.name %></td>
              <td style="width: 12%; text-align: center;"><%= issue.issue_priority.name %></td>
              <td style="width: 50%; text-align: left; cursor: pointer;" onclick="window.location='<%= issue_path(issue) %>'">
                <span class="issue-id">#<%= issue.id %></span>
                <span class="issue-title"><%= issue.subject %></span>
              </td>
              <td style="width: 12%; text-align: center;">
                <span class="badge <%= issue.issue_status.name.downcase == 'new' ? 'badge-warning' : 'badge-success' %>">
                  <%= issue.issue_status.name %>
                </span>
              </td>
              <td style="width: 14%; text-align: center;"><%= issue.updated_at.strftime('%d %b. %Y') %></td>
              <td style="width: 16%; text-align: center;">
                <%= issue.assignee&.email.presence || issue.user&.email %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="no-issues-container">
      <p class="no-issues-text">There are no issues to report 🙂</p>
      <%= link_to 'Did you find an issue?', new_issue_path, class: 'no-issues-button' %>
    </div>
  <% end %>
</div>