<p style="color: green"><%= notice %></p>
<%= render 'issue', issue: @issue %>

<div class="custom-btn-container" style="margin-top: 20px; display: flex; justify-content: space-between;">
  <!-- Botรณn de Editar -->
  <%= link_to edit_issue_path(@issue), class: "btn btn-create", style: "width: auto; text-decoration: none; text-align: center; font-weight: bold; text-transform: uppercase;" do %>
    EDIT
  <% end %>

  <!-- Botรณn de Volver -->
  <%= link_to issues_path, class: "btn btn-create", style: "width: auto; text-decoration: none; text-align: center; font-weight: bold; text-transform: uppercase;" do %>
    BACK
  <% end %>

  <!-- Botรณn de Eliminar con icono de papelera รบnico -->
  <%= button_to @issue, method: :delete, class: "btn btn-create", style: "width: auto; background-color: #ff6b6b; text-decoration: none; text-align: center; font-weight: bold;" do %>
    ๐๏ธ
  <% end %>
</div>