<div class="settings-container">
  <h1>Configuración</h1>

  <div class="settings-menu">
    <ul>
      <li><%= link_to 'Statuses', settings_statuses_path %></li>
      <li><%= link_to 'Priorities', settings_priorities_path %></li>
      <li><%= link_to 'Types', settings_issue_types_path %></li>
      <li><%= link_to 'Severties', settings_severities_path %></li>
    </ul>
  </div>
  <%= link_to 'Volver a Issues', issues_path, class: 'btn btn-link' %>
</div>