<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CopiaTaigaRoR" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>

  </head>


  <%#COSAS NUEVAS %>
  <body>
    <% unless @hide_navbar %>
    <nav>
    <div class="nav-right">
        <% if user_signed_in? %>
          <% if current_user.avatar.attached? %>
            <%= link_to profile_user_path(current_user), style: "background: none; border: none;" do %>
              <%= image_tag url_for(current_user.avatar), class: 'nav-avatar', style: "border-radius: 50%;" %>
            <% end %>
          <% else %>
            <%= link_to profile_user_path(current_user), class: 'nav-profile-link', style: "background: none; border: none;" do %>
              <i class="fas fa-user-circle fa-2x"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </nav>
<%end%>
    <%= yield %>
  </body>
</html>